* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-image {
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .loading-image {
    height: 100vh;

    width: auto;
  }
}

.loader {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.loader-track {
  width: 100%;
  height: 16px;
  border-radius: 50px;
  border: 3px solid #b57a3a;
  position: absolute;
}
.loader-fill {
  width: 0%;
  height: 16px;
  border-radius: 50px;
  background: #b57a3a;
  position: absolute;
  margin: 3px;
  transition: width 0.1s linear;
}

.btn-container {
  position: absolute;
  bottom: 6%;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  gap: 8px;
  display: none;
}

.btn {
  height: 50px;
  width: 100px;
  border-radius: 16px;
  border: 1px solid #d89b5a;
  outline: none;
  color: #d89b5a;
  background: white;

  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
  /* display: none; */
}
.btn.sound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.btn:hover {
  background: #f0f0f0;
  color: #b57a3a;
}

.start-button.ready {
  opacity: 1;
  pointer-events: auto;
}

.canva-wrapper {
  width: 100%;
  height: 100vh;
}

.scene-actions {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 5;
}

.scene-actions .btn {
  background: transparent;
  width: 50px;
  /* border-color: ; */
}
.scene-actions .btn.off {
  background: transparent;
  border-color: #555;
}
